In [1]:
import pandas as pd

# Titanic veri setini yükle (Kaggle kernel)
df = pd.read_csv('/kaggle/input/titanic/train.csv')

## Kazada ölenlerin yaş ortalamasını bulunuz

In [3]:
dead = df[df['Survived'] == 0]
dead_age_mean = dead['Age'].mean()
dead_age_mean

30.62617924528302

## Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [4]:
dead_fare_mean = dead['Fare'].mean()
dead_fare_median = dead['Fare'].median()
dead_fare_mean, dead_fare_median

(22.117886885245902, 10.5)

## Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [5]:
dead_males = dead[dead['Sex'] == 'male']
dead_male_age_mean = dead_males['Age'].mean()
dead_male_age_mean

31.618055555555557

## Kazada ölen kadınların yaş ortalamasını bulunuz

In [6]:
dead_females = dead[dead['Sex'] == 'female']
dead_female_age_mean = dead_males['Age'].mean()
dead_female_age_mean

31.618055555555557

##  Kazadan kurtulanların yaş ortalamasını bulunuz

In [7]:
survived = df[df['Survived'] == 1]
survived_age_mean = survived['Age'].mean()
survived_age_mean

28.343689655172415

## Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [8]:
survived_fare_mean = survived['Fare'].mean()
survived_fare_mean

48.39540760233918

 ## Kazadan kurtulan toplam kişi sayısını bulunuz

In [9]:
total_survived = len(df[df['Survived'] == 1])
total_survived

342

 ## 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [ ]:
under_10 = df[df['Age'] < 10]
under_10_fare_median = under_10['Fare'].median()
under_10_fare_median

##  1, 2 ve 3. sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız

In [10]:
fare_stats = df.groupby('Pclass')['Fare'].agg(['mean', 'median'])
fare_stats

             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

## Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız

In [11]:
total_males = len(df[df['Sex'] == 'male'])
dead_males = len(df[(df['Sex'] == 'male') & (df['Survived'] == 0)])
male_death_ratio = dead_males / total_males

total_females = len(df[df['Sex'] == 'female'])
dead_females = len(df[(df['Sex'] == 'female') & (df['Survived'] == 0)])
female_death_ratio = dead_females / total_females

male_death_ratio, female_death_ratio

(0.8110918544194108, 0.25796178343949044)